textarea{
    resize: none!important;
}
.h_container_fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.h__form_container{
    margin: 20% auto;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #a2f2f5;
    border-radius: 5px;
}
.h__form_login{
    margin: 20px auto 0;
    max-width: 280px;
}
.h__form_group{
    margin-bottom: 20px;
}
.h__form_group .h__form_control:focus{
    box-shadow: 0 0 0 0.1rem rgb(13 110 253 / 25%);
}
.h__form_error{
    font-size: 0.9em;
}
.h__form_invalid label{
    color: red;
}
.h__form_invalid input{
    border-color: red;
}
.h__form_invalid input:focus{
    box-shadow: 0 0 0 0.05rem red !important;
    border-color: red;
}
.h__form_footer{
    margin-top: 10px;
}
.h__form_basic .h__form_group{
    align-items: center;
}
.h__form_center{
    width: 450px;
    margin: 0 auto;
}
.h__form_left{
    width: 450px;
}
.h__md_background{
    background: rgb(100 100 100 / 86%);
}